*/src/main/resources/META-INF/MANIFEST.MF
*/src/test/resources/META-INF/TEST.MF
junit*.properties
target
integration-repo
ivy-cache
derby.log
.ant-targets-build.xml
com.cenqua.clover.core.prefs
user-ivy.properties
