[submodule "apps"]
	path = apps
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.apps.git
[submodule "kernel"]
	path = kernel
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.kernel.git
[submodule "medic"]
	path = medic
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.medic.git
[submodule "nano"]
	path = nano
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.nano.git
[submodule "packaging"]
	path = packaging
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.packaging.git
[submodule "repository"]
	path = repository
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.artifact-repository.git
[submodule "test"]
	path = test
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.test.git
[submodule "util"]
	path = util
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.util.git
[submodule "web"]
	path = web
	url = https://git.eclipse.org/r/virgo/org.eclipse.virgo.web.git
