*/src/main/resources/META-INF/MANIFEST.MF
*/src/test/resources/META-INF/TEST.MF
target
integration-repo
ivy-cache
.ant-targets-build.xml
user-ivy.properties
bin/
build/
.settings/
.project
.classpath

