<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<target name="Buildship Eclipse Luna Target Platform" sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.core.databinding" version="1.4.1.v20130515-1857"/>
            <repository location="https://download.eclipse.org/eclipse/updates/4.3/R-4.3.2-201402211700/"/>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <launcherArgs>
        <vmArgs>-XX:MaxPermSize=128M</vmArgs>
    </launcherArgs>
</target>
