
<!--@&header@-->

	<h1>Repositories</h1>
	
	<div class="button-container">
    	<div class="control-cap-left"></div>
    	<div id="repository-controls" class="controls">
    		<div class="control-text">Repositories: </div>
		</div>
    	<div class="control-cap-right"></div>
	</div>
		
	<div class="consoleFootnote">Note: Non-watched repositories are not updated unless Virgo is restarted with the -clean option.</div>
	
	<div id="repository-panel" class="bordered-container"></div>

<!--@&footer@-->
