
<!--@&header@-->

	<h1>Host Information</h1>
	
	<p>Congratulations on installing Virgo. This is the Web console provided with Virgo to allow management of Virgo instances.</p>
	
	<h2>Documentation</h2>
	<p>Documentation is available on-line for Virgo:</p>
	<ul>
		<li><a href="http://www.eclipse.org/virgo/documentation" target="_blank" title="Virgo Documentation">Virgo Documentation</a></li>
		<li><a href="http://www.eclipse.org/virgo/samples" target="_blank" title="Virgo Samples">Virgo Samples</a></li>
		<li><a href="http://wiki.eclipse.org/Virgo/FAQ" target="_blank" title="Virgo FAQ">Virgo FAQ</a></li>
	</ul>
	
	<h2>Host Properties</h2>
	
	<table>
		<thead class="table-head">
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody class="table-body">
			<tr>
				<td>OSGi Runtime</td>
				<td id='osgi-runtime'><!--@<servletContainer@--></td>
			</tr>
			<tr class="table-tr-odd">
				<td>Virtual Machine</td>
				<td><!--@<virtualMachine@--></td>
			</tr>
			<tr>
				<td>Operating System</td>
				<td><!--@<operatingSystem@--></td>
			</tr>
		</tbody>
	</table>

<!--@&footer@-->
