<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin
   id="org.eclipse.virgo.nano.p2.build"
   version="1.0.0"
>
	<extension id="org.eclipse.virgo.nano.p2.build.BinaryPublisherApplication" point="org.eclipse.core.runtime.applications">
		<application cardinality="1" thread="any" visible="true">
			<run class="org.eclipse.virgo.nano.p2.build.BinaryPublisherApplication" />
		</application>
	</extension>

</plugin>
