
<!--@&header@-->
	    	
	<h1>Host Information</h1>
	
	<p>Congratulations on installing the Virgo Server. This is the Web console provided with the server to allow management of a small number of instances.</p>
	
	<h2>Documentation</h2>
	<p>Documentation is available on-line for Virgo:</p>
	<ul>
		<li><a href="http://www.eclipse.org/virgo/documentation" target="_blank" title="Virgo Documentation">Documentation</a></li>
		<li><a href="http://www.eclipse.org/virgo/samples/" target="_blank" title="Virgo Samples">Samples</a></li>
		<li><a href="http://wiki.eclipse.org/Virgo/FAQ" target="_blank" title="Virgo FAQ">FAQ</a></li>
	</ul>
	
	<h2>Host Properties</h2>
	
	<div id="server-overview">
		
	</div>

<!--@&footer@-->
