
<!--@&header@-->
	    	
	<h1>Host Information</h1>
	
	<p>Congratulations on installing the Virgo Server. This is the Web console provided with the server to allow management of a small number of instances.</p>
	
	<h2>Documentation</h2>
	<p>Documentation is available on-line for Virgo.</p>
	<ul>
		<li><a href="http://www.eclipse.org/virgo/documentation" target="_blank" title="Virgo Server - Documentation">Virgo Server - Documentation</a>.</li>
		<li><a href="http://static.springsource.org/spring/docs/3.0.x/spring-framework-reference/html/index.html" target="_blank" title="Spring Framework">Spring Framework Documentation</a>.</li>
		<li><a href="http://static.springframework.org/osgi/docs/current/reference/html/" target="_blank" title="Spring Dynamic Modules">Spring Dynamic Modules Documentation</a>.</li>
	</ul>
	
	<h2>Host Properties</h2>
	
	<div id="server-overview">
		
	</div>

<!--@&footer@-->
