
<!--@&header@-->

	<h1>Repositories</h1>
	
	<div class="button-container">
    	<div class="control-cap-left"></div>
    	<div id="repository-controls" class="controls">
    		<div class="control-text">Repositories: </div>
		</div>
    	<div class="control-cap-right"></div>
	</div>
		
	<div class="consoleFootnote">Note: If a repository is not watched the contents will not update until a clean server start.</div>
	
	<div id="repository-pannel" class="bordered-container"></div>

<!--@&footer@-->
