@import "common.css";

/* 
 * Virgo Admin Console
 *
 * Styles for the artifacts page
 */
 
#expl_canvas, svg {
 	overflow: auto;
}

#side-bar, #display {
	vertical-align: top;
}

#side-bar {
	display: inline-block;
	overflow-y: auto;
	width: 30%;
}

#display {
	display: inline-block;
	margin-top: 13px;
	width: 69%;
}

svg:not(:root) { 
	overflow: auto; 
}