@import "common.css";

/* 
 * Virgo Admin Console
 *
 * Styles for the artifacts page
 */
 
#expl_canvas, svg {
 	overflow: auto;
}

svg:not(:root) { 
	overflow: auto; 
}

#side-bar, #display {
	vertical-align: top;
}

#side-bar {
	display: inline-block;
	overflow-y: auto;
	width: 34%;
	height: 613px;
}

#display {
	display: inline-block;
	width: 65%;
	visibility: hidden;
}

#bundle-canvas {
	border: 1px solid #BAD9EC;
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
}

#bundle-table .table-tr-hovered {
	background:#BAD9EC;
}

#bundle-table th {
	cursor: pointer;
}

#bundle-table .table-th-sort {
	color: #0095CA;
}

#bundle-table .table-tr-selected {
	background:#BAD9EC;
}