
    body {
        margin: 0;
        padding: 0;
              
        background: white;
    }

    div#page {
        width: 780px;
        
        margin:  10px auto;
        padding: 0px 0px;
        
        background: white;
	/*	border:1px solid #A0A0A0; */
    }
    
    /* HEADER */
        div#header {
            margin: 0 0 2em 0;
            padding: 0px 0px;
            
            color: white;
        }
        div#branding {
            margin: 0;
            padding: 0px 0px;
            
            text-align: left;
        }
        div#personalization {
            margin: 0;
            padding: 0px 0px 0 0;
            color: #004812;
			text-align: center;            
        }
	
    /* END HEADER */
     
	    h1 {
	    	color: #004812;
	    }
	
	/** URL's */
	
		a:link{color:#7db223; text-decoration:underline; font-size:13px; background:transparent;}
		a:hover{color:#456314; text-decoration:underline; font-size:13px; background:transparent;}
		a:active{color:#7db223; text-decoration:underline; font-size:13px; background:transparent;}
		a:visited{color:#7db223; text-decoration:underline; font-size:13px; background:transparent;}
	
	/** END URL's */
	

    /* CONTENT */
        div#content {
            
        }
        
        /* MAIN */
            div#main {
            }
        /* END MAIN */
        
        /* SUB */
            div#sub {
                
            }
        /* END SUB */
        
        /* NAV */

		div#nav {
			width: 150px;
		}
		
		div#nav a, div#nav a:link, div#nav a:active, div#nav a:visited {
			background-color: #c1d72e;
		}
		
	    div#nav strong a, div#nav strong a:link, div#nav strong a:active, div#nav strong a:visited, div#nav strong a:hover {
			background-color: #004812;
	    }
	    
	    /* NAV */
        
    /* END CONTENT */
    
    
    /* FOOTER */
        div#footer {
        }
        div#footer p {
            margin: 0;
            padding: 5px;
            
            font-size: 0.8em;
        }
    /* END FOOTER */
/* END LAYOUT */
