
/* ENTITY DETAILS */
	
	div#entityDetails {
		padding: 15px 15px;
		width: 60%;
		border:1px solid #b2bf99;
	}

	div#entityDetails ul {
		line-height:1em;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin:0pt;
		padding:0pt;
		width:100%;	
	}

	div#entityDetails li {
		display:block;
		line-height:1em;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin:0pt;
		padding:0px 0px 5px 5px;
	}
	/* END ENTITY DETAILS */

	/* CONTROL LINKS */
	
	div#controlLinks ul {
		line-height:1em;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin:0pt;
		padding:0pt;
		width:100%;
	}

	div#controlLinks li {
		display:inline;
		float:left;
		line-height:1em;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin:0pt;
		padding:10px 10px 10px 0px;
	}		

	/* END CONTROL LINKS */
	
	/** TABLES */
	
	table.greenTable {
		background: #e0e7d3;
		margin: 5px 0px;
		border: 2px solid #e0e7d3;
		border-collapse: collapse;
	}
	
	table.greenTable td,table th {
		padding: 5px;
	}
	
	table.greenTable th {
		font-size: 12px;
		text-align: left;
		font-weight: bold;
	}
	
	table.greenTable thead{
		font-weight: bold;
		font-style: italic;
		background-color: #c9d3b8;
	}

	/** END TABLES **/
	